@import url("http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
    margin: 0%;
    padding: 0%;
}

.menu {
    background-color: rgb(134, 3, 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 40px;
    gap: 20px;
    text-align: center;

}

.logo {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body {
    background-color: black;
}

p,h3,h1,h2,.temporadas {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.titulo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30pxpx;
    justify-content: center;
}

.pagina1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
}

.botao {
    background-color: rgb(255, 0, 0);
    font-weight: 900;
    color: white;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 70px;
    width: 200px;
    border-radius: 500px;
    margin: 40px;
}

.elementos {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invertido,.monstro,.laboratorio,.casa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.elenco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    height: 400px;
    margin: 50px;
}

.curiosidade {
    background-color:rgb(134, 3, 3);
    padding: 20px;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    gap: 500px;
}



.contatos, h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    gap: 20px;
}

.contatos i{
    display: flex;
    justify-content: right;
    padding-right: 20px;
}
footer ul{
    list-style-type: circle;
    display:flex;
    flex-direction:row ;
}
footer p {
    display: flex;
    flex-direction: column;
}

/*footer*/
footer{
    background-color: rgb(134, 3, 3);
    margin-top: 60%;
}
#footer-elenco{
    margin-top: 50%;
}

#footer-curiosidades{
    margin-top: 5%;
}
#footer-temp{
    margin-top: 5%;
}

#footer-sobre{
    margin-top: 5%;
}


/* javascript */
.caracteristicas {
    display: none;
    position: absolute;
    background-color: darkred;
    border-radius: 30px;
    flex-wrap: wrap;
}

.caracteristicas.ativo {
    display: flex;
    flex-direction: column;
}

.infor {
    margin-top: 10px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.icone {
    transition: transform 0.3s;
    color: white;
}