*{
    margin: 0%;
    padding: 0%;
}

.menu {
    background-color: rgb(134, 3, 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    gap: 20px;

}

.logo {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body {
    /* background-image: url(img_fundo.png); */
    background-color: black;
    background-repeat: no-repeat;
}

p,h3,h1,h2,.temporadas{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.titulo{
    display: flex;
    justify-content: center;
}



.pagina1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
}

.botao{
    background-color: rgb(255, 0, 0);
    font-weight: 900;
    color: white;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 70px;
    width: 200px;
    border-radius: 500px;
    margin: 40px;
}

.elementos{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.jogos2{
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    list-style-type: none;
}

.jogos {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.invertido,.monstro,.laboratorio,.casa{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.elenco{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    height: 400px;
    margin: 50px;
}

.curiosidade{
    background-color: red;
    padding: 20px;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    gap: 100px;
}

/* javascript */
.caracteristicas{
    display: none;
}
.caracteristicas.ativo{
    display: block;
    }

.infor {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.icone {
  transition: transform 0.3s;
  color: white;
}

    